@model List<EduHub.Models.EduUser>

@{
    ViewData["Title"] = "Grade Students";
}

<h2>Grade Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.Name
                </td>
                <td>
                    <a asp-action="Grade" asp-route-studentId="@student.Id">Grade</a>
                </td>
            </tr>
        }
    </tbody>
</table>
