@model EduHub.Models.Quiz

@{
    ViewData["Title"] = "Create Quiz";
}

<h2>Create Quiz</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="control-label">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div id="questions-container">
        <div class="question-form">
            <h4>Question 1</h4>
            <div class="form-group">
                <label class="control-label">Question</label>
                <input name="Questions[0].Text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Option A</label>
                <input name="Questions[0].OptionA" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Option B</label>
                <input name="Questions[0].OptionB" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Option C</label>
                <input name="Questions[0].OptionC" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Option D</label>
                <input name="Questions[0].OptionD" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Correct Option</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Questions[0].CorrectOption" value="A" />
                    <label class="form-check-label">Option A</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Questions[0].CorrectOption" value="B" />
                    <label class="form-check-label">Option B</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Questions[0].CorrectOption" value="C" />
                    <label class="form-check-label">Option C</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Questions[0].CorrectOption" value="D" />
                    <label class="form-check-label">Option D</label>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="add-question-button" class="btn btn-secondary">Add Question</button>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

@section Scripts {
    <script>
        let questionIndex = 1;
        document.getElementById('add-question-button').addEventListener('click', function () {
            const container = document.getElementById('questions-container');
            const questionDiv = document.createElement('div');
            questionDiv.classList.add('question-form');
            questionDiv.innerHTML = `
                <hr />
                <h4>Question ${questionIndex + 1}</h4>
                <div class="form-group">
                    <label class="control-label">Question</label>
                    <input name="Questions[${questionIndex}].Text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Option A</label>
                    <input name="Questions[${questionIndex}].OptionA" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Option B</label>
                    <input name="Questions[${questionIndex}].OptionB" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Option C</label>
                    <input name="Questions[${questionIndex}].OptionC" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Option D</label>
                    <input name="Questions[${questionIndex}].OptionD" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Correct Option</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Questions[${questionIndex}].CorrectOption" value="A" />
                        <label class="form-check-label">Option A</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Questions[${questionIndex}].CorrectOption" value="B" />
                        <label class="form-check-label">Option B</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Questions[${questionIndex}].CorrectOption" value="C" />
                        <label class="form-check-label">Option C</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Questions[${questionIndex}].CorrectOption" value="D" />
                        <label class="form-check-label">Option D</label>
                    </div>
                </div>
            `;
            container.appendChild(questionDiv);
            questionIndex++;
        });
    </script>
}
